body{
    background-color: blueviolet;
    font: arial;
    color:black;
    
}

section{
    background-color: aliceblue;
    width: 600px;
    padding: 15px;
    margin: auto;
    border-radius: 10px;
}

div{
    text-align: center;
}